<h2><%= l(:label_reminder_details) %> #<%= @reminder.id %></h2>

<div class="contextual">
  <%= link_to l(:button_edit), edit_project_reminder_path(@project, @reminder),
              :class => 'icon icon-edit' %>
  <%= link_to l(:button_delete), project_reminder_path(@project, @reminder),
              :method => :delete,
              :data => {:confirm => l(:text_are_you_sure)},
              :class => 'icon icon-del' %>
</div>

<div class="box tabular">
  <p>
    <label><%= l(:field_content) %>:</label>
    <div class="wiki">
      <%= textilizable @reminder.content %>
    </div>
  </p>

  <p>
    <label><%= l(:field_send_date) %>:</label>
    <%= @reminder.formatted_send_date %>
  </p>

  <p>
    <label><%= l(:field_send_time) %>:</label>
    <%= @reminder.formatted_send_time %>
  </p>

  <p>
    <label><%= l(:field_issue) %>:</label>
    <%= @reminder.issue ? link_to("##{@reminder.issue.id} #{@reminder.issue.subject}", 
                issue_path(@reminder.issue)) : l(:label_none) %>
  </p>

  <p>
    <label><%= l(:label_status) %>:</label>
    <% if @reminder.active? %>
      <span class="status-active"><%= l(:label_status_active) %></span>
    <% else %>
      <span class="status-inactive"><%= l(:label_status_inactive) %></span>
    <% end %>
  </p>

  <p>
    <label><%= l(:label_created_by) %>:</label>
    <%= link_to_user @reminder.created_by %>
  </p>

  <p>
    <label>Ngày tạo:</label>
    <%= format_time @reminder.created_at %>
  </p>

  <% if @reminder.updated_at != @reminder.created_at %>
  <p>
    <label>Cập nhật lần cuối:</label>
    <%= format_time @reminder.updated_at %>
  </p>
  <% end %>

  <% if @reminder.is_recurring? && @reminder.active? %>
  <p>
    <label><%= l(:label_recurring_settings) %>:</label>
    <% next_date = @reminder.next_send_date %>
    <% if next_date %>
      <%= @reminder.recurring_type_text %>
      <% if @reminder.recurring_type == 'custom' %>
        (<%= @reminder.custom_days_text %>)
      <% end %>
      <br><em>(<%= l(:label_next_send_date) %>: <%= next_date.strftime('%d/%m/%Y') %>)</em>
    <% else %>
      <%= l(:label_not_recurring) %>
    <% end %>
  </p>
  <% end %>
</div>

<%= content_for :header_tags do %>
  <style>
    .status-active { color: #169f85; font-weight: bold; }
    .status-inactive { color: #999; }
  </style>
<% end %> 
